<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Install APK support -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- Android 13+ only -->
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        tools:targetApi="33" />


    <!-- Android TV / Fire TV -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.type.television"
        android:required="false" />


    <application

        android:name=".Network24App"

        android:allowBackup="true"

        android:dataExtractionRules="@xml/data_extraction_rules"

        android:fullBackupContent="@xml/backup_rules"

        android:icon="@mipmap/ic_launcher"

        android:roundIcon="@mipmap/ic_launcher_round"

        android:label="@string/app_name"

        android:banner="@drawable/tv_banner"

        android:supportsRtl="true"

        android:resizeableActivity="true"

        android:usesCleartextTraffic="true"

        android:theme="@style/Theme.Network24">


        <!-- File Provider -->

        <provider

            android:name="androidx.core.content.FileProvider"

            android:authorities="${applicationId}.provider"

            android:exported="false"

            android:grantUriPermissions="true">


            <meta-data

                android:name="android.support.FILE_PROVIDER_PATHS"

                android:resource="@xml/file_paths" />

        </provider>



        <!-- Player -->

        <activity
            android:name=".features.player.activity.PlayerActivity"
            android:exported="false"
            android:screenOrientation="landscape" />


        <activity
            android:name=".features.player.multiview.MultiViewActivity"
            android:exported="false"
            android:screenOrientation="landscape" />



        <!-- Live -->

        <activity
            android:name=".features.live.activity.ChannelListActivity"
            android:exported="false"
            android:screenOrientation="landscape" />


        <activity
            android:name=".features.live.activity.EpgChannelListActivity"
            android:exported="false"
            android:screenOrientation="landscape" />



        <activity
            android:name=".features.live.activity.MasterChannelSearchActivity"
            android:exported="false"
            android:screenOrientation="landscape" />


        <activity
            android:name=".features.live.activity.FavoriteChannelsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />


        <activity
            android:name=".features.live.activity.LiveCategoryActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".features.live.activity.RecentlyWatchedActivity"
            android:exported="false"
            android:screenOrientation="landscape" />


        <activity
            android:name=".features.live.activity.ManageCategoriesActivity"
            android:exported="false"
            android:screenOrientation="landscape" />



        <!-- Login -->

        <activity
            android:name=".features.login.activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="landscape" />



        <!-- Chat -->

        <activity
            android:name=".features.chat.activity.ChatHubActivity"
            android:exported="false"
            android:screenOrientation="landscape" />



        <!-- Dashboard -->

        <activity
            android:name=".features.dashboard.activity.DashboardActivity"
            android:exported="false"
            android:screenOrientation="landscape" />



        <!-- Settings -->

        <activity
            android:name=".features.settings.activity.SettingsActivity"
            android:exported="false" />



        <!-- Launcher -->

        <activity

            android:name=".features.splash.activity.SplashActivity"

            android:exported="true"

            android:screenOrientation="landscape"

            android:banner="@drawable/tv_banner">


            <intent-filter>

                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />


                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />

            </intent-filter>


        </activity>


    </application>


</manifest>
